.i-header {
	margin-top: -10px;
	height: 100vh;
	width: 100vw;
	background-color: white;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 100px;
	padding-left: 320px;
}
.i-align {
	height:350px;
	width: 570px;
	background-color: white;
	border-style: solid;
	border-color: grey;
	border-radius: 25px 25px 25px 25px;
}
.chart {
	border-radius: 25px 25px 25px 25px;
}
.add {
	height: 50px;
	width: 50px;
	background-color: darkgreen;
	color: white;
	font-family: 'Raleway' cursive;
	margin-top: 100px;
	margin-left: 251px;
	border-radius: 25px 25px 25px 25px;
	border-style: solid;
}

.i-para {
	margin-left: 300px;
	height: 300px;
	width: 400px;
}
