<div class="cover" >
	<div class="heading">
		<h1 class="title">Irreversible
</h1>
	</div>
	<div class="filling">
	<h1 class="banner">We're Doomed</h1>
	</div>
	<div class="righty">
		<div home-dir></div>
   <h2 class="words">Atmospheric Carbon Dioxide Hits Record Levels</h2>

<p class="para">Points of no return. If the concentration of carbon dioxide in the atmosphere can be limited to a doubling—from about 280 parts per million (ppm) in the pre-industrial era to 560 ppm in the future (we’re currently at about 400 ppm)—the IPCC assessment estimated with “high confidence” that Earth’s temperature will reach an equilibrium somewhere between 1.5 and 4.5 degrees Celsius above pre-industrial temperatures. However, the report cautioned, “some aspects of climate will continue to change even if temperatures are stabilized.”

Among some of the most likely changes: The melting of snow and ice will expose darker patches of water and land that absorb more of the sun’s radiation, accelerating global warming and the retreat of ice sheets and glaciers. Scientists agree that the Western Antarctic Ice Sheet has already gone into an unstoppable decline. Currents that transport heat within the oceans will be disrupted. Ocean acidification will continue to rise, with unknown effects on marine life. Thawing permafrost and sea beds will release methane, a greenhouse gas. Droughts predicted to be the worst in 1,000 years will trigger vegetation changes and wildfires, releasing carbon. Species unable to adapt quickly to a changing climate will go extinct. Coastal communities will be submerged, creating a humanitarian crisis.

Some of these changes may persist for hundreds or even thousands of years after the Earth’s temperature stabilizes. Scientists worry that elements of the climate system could even reach tipping points beyond which abrupt and planetary-scale changes might occur, such as the disappearance of monsoon cycles or the Amazon’s vast tropical forests.</p>
	</div>

	<section class="stage">
<figure class="ball"></figure>
<figure class="ball1"></figure>
<figure class="ball2"></figure>
<!-- <figure class="ball ball3"></figure> -->
<!-- <figure class="ball ball4"></figure>
<figure class="ball ball5"></figure>
<figure class="ball ball6"></figure> -->
</section>
	<div class="set">
		<div class="viewport">
		<iframe class="video" id="ytplayer" width="500" height="500" src="https://www.youtube.com/embed/1c0KfxShPMc?controls=0&showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>

</div>
