
<div class="i-header">

	<h1></h1>

<div class="i-align">
	<canvas id="chart" height="350" width="600">
		<info-Dir></info-Dir>
	</canvas>

</div>

</div>
<h2 class="i-words">Parts Per Million<button class="add" value="New Week" info-dir></button></h2>
<p class="i-para">According to the Wikipedia, 1 ppm is equivalent to one drop of water diluted into 50 litres. Hence its use to describe small relative concentrations such as that of CO2 in the air. Despite its low concentration though, carbon dioxide has a potent impact on the atmosphere and, by extension, the climate: the so-called greenhouse effect.</p>
<ul class="list">In 2007 CO2's ppm estimate was at 383.47</ul>
<ul class="list">In 2012 it jumped to 391 an increase of 7ppm's.</ul>
<ul class="list">In 2017 it jumped to an estimate of 405 ppm and increase of 14ppm's.</ul>
<ul class="list">Thats a total increase of 100% in half of a decade.</ul>
